.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.containerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10vh;
}

.logo {
  margin-bottom: 30px;
  width: 350px;
}